<!DOCTYPE html>
<html lang="en">
<head> 
   
    <title>Shop Now</title>
</head>
<style>
    
  
</style>
<body>
    
   <h2>Products</h2>


   <div>
    <p id="product1">Aso Oke - 5000</p>
    <input type="number" id="qty1" placeholder="Enter quantity">
    <button onclick="addToCart('product1', 5000, 'qty1')">Add to Cart</button>
   </div>

   
   <div>
    <p id="product2">Ankara Fabric - 7000</p>
    <input type="number" id="qty2" placeholder="Enter quantity">
    <button onclick="addToCart('product2', 5000, 'qty2')">Add to Cart</button>
   </div>

   <div>
    <p id="product3">Ofi - 7000</p>
    <input type="number" id="qty3" placeholder="Enter quantity">
    <button onclick="addToCart('product3', 5000, 'qty3')">Add to Cart</button>
   </div>

   <h3>Cart:</h3>
   <ul id="cartList"></ul>

 




   <script>
    let cart = JSON.parse(localStorage.getItem("cart"));
    
    function displayCart() {
        let cartList = document.getElementById("cartList");
        cartList.innerHTML = "";
        cart.forEach(item => {
            let li = document.createElement("li");
            li.innerText = item.quantity + "x" + item.product + "=naira" + item.total;
            cartList.appendChild(li);
        });
    }

    function addToCart(productId, price, qtyId) {
        let product = document.getElementById(productId).innerText.split("-")[0];
        let quantity = parseInt(document.getElementById(qtyId).value);

        if ( quantity <=0) {
            alert("Please enter a valid quantity");
            return;

           

        }

        


        let total = price * quantity;

        cart.push({ product, quantity, total});

        localStorage.setItem("cart", JSON.stringify(cart));

        displayCart();

        alert(quantity + "" + product + "added to cart");

        displayCart();
    }
   </script>
</body>
</html>