body{
    background-image: url("images/background.jpg.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #fff;
}

.navbar{
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}




.logo{
    font-size: 26px;
    font-weight: bold;
    color: goldenrod;
    font-style: italic;
}

.logo span{
    display: block;
    font-size: 12px;
    letter-spacing: 2px;
    color: white;
}

.nav-links a{
    margin-left: 30px;
    text-decoration: none;
    color: blue;
}

.nav-links a:hover{
    color: #fff;
}

.hero{
    
    background: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7) );
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    

}
 .hero-content{
    max-width: 1200px;
    margin: auto;
    padding: 20px;
 }

 .hero h1{
    font-size: 52px;
    color: goldenrod;
 }

 .hero h2{
    font-size: 26px;
 }

 .hero p{
    max-width: 500px;
    margin: 20px 0 30px;
    line-height: 1.6;
    color: blanchedalmond;
    font-style: italic;
 }

 button{
    padding:14px 30px;
    text-decoration: none;
    background-color: navy;
    cursor: pointer;
 }

button a:hover{
    color:goldenrod;
}

.collections{
    display: grid;
    max-width: 1200px;
    margin: auto;
    padding: 60px 20px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 25px;
}

.card img{
    width: 100%;
    height: 220px;
    object-fit:cover;
}

.card h3{
    padding: 15px;
    color: aliceblue;
    font-style: italic;
}

footer{
    font-size: 14px;
    text-align: center;
    padding: 20px;
    color:azure;
    background: black;
}


